define {{filter}}

protocol bgp {{ ixp }}_as{{ peer_asn }}_v4 {
  description "{{ ixp }} - {{ peer_name }} - AS{{ peer_asn }} - IPv4";
  local {{ public_ip }} as {{ public_asn }};
  confederation 207960;
  confederation member no;
  neighbor {{ peer_ip }} as {{ peer_asn }};
  {% if password %}
  password "{{password}}"
  {% endif %}
  ipv4 {
    import keep filtered yes;
    import filter {
      as{{peer_asn}}_filter();
      bgp_large_community.add(({{ public_asn }},0,{{ peer_asn }}));
      external_in_v4();
    };
    export filter {
      external_out_v4();
    };
  };
}