protocol bgp {{ ixp }}_as{{ peer_asn }}_v6 {
  description "{{ ixp }} - {{ peer_name }} - AS{{ peer_asn }} - IPv6";
  local {{ public_ip }} as {{ internal_asn }};
  confederation 207960;
  confederation member no;
  neighbor {{ peer_ip }} as {{ peer_asn }};
  {% if password %}
  password "{{password}}"
  {% endif %}
  ipv6 {
    import keep filtered yes;
    import filter {
      bgp_large_community.add((207960,0,{{ peer_asn }}));
      external_in_v6();
    };
    export filter {
      external_out_v6();
    };
  };
}